{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "commonjs": true,
    "amd": true,
    "mocha": true,
    "jasmine": true,
    "jquery": true,
    "mongo": true
  },
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "experimentalObjectRestSpread": true,
    "regexYFlag": true,
    "regexUFlag": true
  },

  "globals": {
    "__WEBPACK__": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
        "no-bitwise": 1,
        "no-process-env": 0,
        "no-extra-parens": 2,
        "valid-jsdoc": 1,
        "no-unexpected-multiline": 2,
        "no-array-constructor": 2,
        "accessor-pairs": 2,
        "complexity": [1, 11],
        "curly": [2, "all"],
        'dot-notation': [2, { 'allowKeywords': false}],
        "dot-location": [2, "property"],
        "no-eq-null": 2,
        "no-implicit-coercion": 2,
        'no-process-env': 2,
        'no-useless-call': 2,
        "no-useless-concat": 2,
        'no-void': 2,
        'init-declarations': 2,
        'no-catch-shadow': 2,
        'no-label-var': 2,
        'no-undef-init': 2,
        'no-undefined': 1,
        "quotes": [2,"single"],
        "linebreak-style": [2,"unix"],
        "semi": [2,"always"],
        "one-var": [2, {var: "always",let: "always",const: "never"}],
        'react/prop-types': 0
    }
}
